{% extends "base.html" %}

{% block content %}
<div class="modal" id="dif" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выберите сложность</h5>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col">
                        <a class="btn btn-success btn-lg" href='/solve/easy' style="color: #fff;">Легко</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary btn-lg" href='/solve/medium' style="color: #fff;">Средне</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger btn-lg" href='/solve/hard' style="color: #fff;">Сложно</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text p-3">{{ example }}</p>
                </div>
                <div class="card-footer">
                    <form method="post">
                        <div class="row p-1">
                            <div class="col-4">
                                {% if answer %}
                                {% if answer[1] %}
                                <input type="text" value='{{ answer[2] }}' style='background: rgba(0, 255, 0, 0.4);' id="ans" class="form-control" name="ans">
                                {% else %}
                                <input type="text" value='{{ answer[2] }}' style='background: rgba(255, 0, 0, 0.4);' id="ans" class="form-control" name="ans">
                                {% endif %}
                                <label for="ans">{{ answer[0] }}</label>
                                {% else %}
                                <input type="text" id="ans" class="form-control" name="ans">
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="submit" class="form-control btn btn-primary" value="Ответить">
                                    </div>
                                    <div class="col p-0">
                                        <a href="/solve/{{dif}}" type="button" class="btn btn-outline-primary">Дальше</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if ("{{dif}}" === "dif") {
        var Modal = new bootstrap.Modal(document.getElementById('dif'), {keyboard: false});
        Modal.show();
    }
</script>















</script>
{% endblock %}